[tool.poetry]
name = "organize-tool"
version = "1.9.1"
description = "The file management automation tool"
packages = [
    { include = "organize" },
]
authors = ["Thomas Feldmann <mail@tfeldmann.de>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/tfeldmann/organize"
documentation = "https://organize.readthedocs.io"
keywords = ["file", "management", "automation", "tool", "organization", "rules", "yaml"]
classifiers = [
    # Full list: https://pypi.python.org/pypi?%3Aaction=list_classifiers
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Natural Language :: English",
    "Intended Audience :: End Users/Desktop",
    "Operating System :: OS Independent",
    "Topic :: Utilities",
]

[tool.poetry.scripts]
organize = "organize.cli:main"

[tool.poetry.dependencies]
python = "^3.6"
appdirs = "^1.4"
docopt = "^0.6.2"
PyYAML = "^5.1"
Send2Trash = "^1.5"
colorama = "^0.4.1"
typing = { version = "^3.6", python = "<3.5" }
pathlib2 = [
    { version = "^2.3.3", python = "<3.5" },
    { version = "2.3.0", python = "<3.4" },
]
exifread = "^2.1"
textract = { version = "^1.6.3", optional = true }
pendulum = "^2.0.5"
simplematch = "^1.3"
macos-tags = { version = "^1.5.1", markers = "sys_platform == 'darwin'"}

[tool.poetry.extras]
textract = ["textract"]

[tool.poetry.dev-dependencies]
pytest = "^4.6"
pylint = "^2.3"
ipdb = "^0.12.0"
sphinx = "^3.1.0"
sphinx-rtd-theme = "^0.5.2"
mypy = "^0.812"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
