name: tests

on:
  push:
    paths-ignore:
      - "docs/**"
      - "*.md"
    branches:
      - v2
  pull_request:
    branches:
      - v2
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip setuptools
          python3 -m pip install poetry
          poetry run python -m pip install -U pip setuptools
          poetry install -E textract

      - name: Version info
        run: |
          poetry run python main.py --version

      - name: Test with pytest
        run: |
          poetry run pytest

      - name: Check with MyPy
        run: |
          poetry run mypy organize main.py
